<div class="row">
  <div class="col-auto">
    <h2>Welcome back, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Post New Item</h3>

    <form class="form new-item-form">
      <div class="form-group">
        <label for="item-name"></label>
        <input class="form-input" type="text" id="item-name" name="item-name" />
      </div>
      <div class="form-group">
        <label for="item-price">($):</label>
        <input class="form-input" type="number" id="item-price" name="item price" />
      </div>
      <div class="form-group">
        <label for="car-make"></label>
        <textarea class="form-input" id="car-make" name="car-make"></textarea>
      </div>
      <div class="form-group">
        <label for="car-model"></label>
        <textarea class="form-input" id="car-model" name="car-model"></textarea>
      </div>
      <div class="form-group">
        <label for="car-year"></label>
        <textarea class="form-input" id="car-year" name="car-year"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Materialize Item</button>
      </div>
    </form>
  </div>

{{!-- show already rendered/made items listed in cards --}}
{{!-- use partial --}}
{{!-- need object for info of car items name of key for the pairs --}}
{{#if user}}
{{> profile-partial}}
<div class="col-md-4">
        <button class="btn btn-sm " data-id="{{user.cars.id}}">DELETE</button>
</div>
{{/if}}

{{!-- {{#each cars as |car|}}
{{> profile-partial}}
{{/each}} --}}

  {{!-- {{#if item.length}}
  <div class="col-md-6 item-list">
    <h3>Items Up For Bid:</h3>

    {{#each user.cars as |car|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/item/{{item.id}}">{{item.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm " data-id="{{item.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} --}}
</div>

<script src="./js/profile.js"></script>
